In [1]:
import pandas as pd
import seaborn as sns
import statistics
import category_encoders as ce
data = pd.read_csv('data\wine_cleared.csv', index_col=0)

In [4]:
list_of_dicts = [
 {'product': 'Product1', 'price': 1200, 'payment_type': 'Mastercard'},
 {'product': 'Product2', 'price': 3600, 'payment_type': 'Visa'},
 {'product': 'Product3', 'price': 7500, 'payment_type': 'Amex'}
]
df = pd.DataFrame(list_of_dicts)
df

    product  price payment_type
0  Product1   1200   Mastercard
1  Product2   3600         Visa
2  Product3   7500         Amex

In [5]:
df_dummies = pd.get_dummies(df, columns=['product', 'payment_type'])
df_dummies

,price,product_Product1,product_Product2,product_Product3,payment_type_Amex,payment_type_Mastercard,payment_type_Visa
0,1200,True,False,False,False,True,False
1,3600,False,True,False,False,False,True
2,7500,False,False,True,True,False,False

In [6]:
df = pd.concat([df, df_dummies], axis=1)