In [1]:
import pandas as pd
import seaborn as sns
import statistics
data = pd.read_csv('data\wine_cleared.csv', index_col=0)

In [2]:
data['price_round'] = data['price'].round().astype(int)

In [ ]:
regex = '\d{4}' # регулярное выражение для нахождения чисел
data['year'] = data['title'].str.findall(regex).str.get(0)
data

In [4]:
data['is_usa'] = data['country'].apply(lambda x: 1 if x == 'US' else 0)
data['is_france'] = data['country'].apply(lambda x: 1 if x == 'France' else 0)
data['is_italy'] = data['country'].apply(lambda x: 1 if x == 'Italy' else 0)

In [5]:
data['old_wine'] = data['year'].apply(lambda x: 1 if float(x) < 2010 else 0)

In [ ]:
data['locality'] = data['title'].str.split('[()]').str.get(1)

In [24]:
country_population = pd.read_csv('country_population.csv', sep=';')

country_population

              country     population
0               China  1,411,778,724
1               India  1,386,584,581
2                  US    333,022,386
3           Indonesia    271,350,000
4            Pakistan    225,200,000
..                ...            ...
236              Niue          1,549
237           Tokelau          1,501
238      Vatican City            825
239     Cocos Islands            573
240  Pitcairn Islands             40

[241 rows x 2 columns]

In [ ]:
data.join(country_population.set_index('country'), on='country')

In [36]:
country_area = pd.read_csv('country_area.csv', sep=';')

In [38]:
data_area = data.join(country_area.set_index('country'), on='country')

In [39]:
data_area[data_area['title']== 'Gård 2014 Grand Klasse Reserve Lawrence Vineyards Viognier (Columbia Valley (WA))']

,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,price_round,year,is_usa,is_france,is_italy,old_wine,locality,area
94,US,"Barrel notes are prominent, with aromas of Cre...",Grand Klasse Reserve Lawrence Vineyards,88,22.0,Washington,Columbia Valley (WA),Sean P. Sullivan,@wawinereport,Gård 2014 Grand Klasse Reserve Lawrence Vineya...,Viognier,Gård,22,2014,1,0,0,0,Columbia Valley,9372610.0