In [13]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')
melb_df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,144.9984,Northern Metropolitan,4019,25.20,-0.231707,3,46,5,St,1
1,Abbotsford,2,house,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,144.9934,Northern Metropolitan,4019,15.80,-0.327660,4,116,5,St,1
2,Abbotsford,3,house,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,144.9944,Northern Metropolitan,4019,18.75,0.056338,4,117,0,St,0
3,Abbotsford,3,house,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,144.9969,Northern Metropolitan,4019,15.75,0.145455,4,47,0,other,0
4,Abbotsford,4,house,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,144.9941,Northern Metropolitan,4019,17.75,0.083969,4,2,2,St,0

In [18]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
quarter = melb_df['Date'].dt.quarter

In [19]:
exclude = ['Car', 'Bathroom', 'Bedroom', 'Date', 'Rooms']
for col in melb_df.columns:
    if col not in exclude and melb_df[col].nunique() < 150:
        melb_df[col] = melb_df[col].astype('category')

In [ ]:
melb_df.sort_values(by=['Price', 'Distance'], ignore_index=True).loc[::10, ['Distance', 'Price']]

In [ ]:
mask1 = melb_df['AreaRatio'] < -0.8
mask2 = melb_df['Type'] == 'townhouse'
mask3 = melb_df['SellerG'] == 'McGrath'
melb_df[mask1 & mask2 & mask3].sort_values(
    by=['Date', 'AreaRatio'],
    ascending=[True, False],
    ignore_index=True
).loc[:, ['Date', 'AreaRatio']]

In [22]:
melb_df.sort_values(by='AreaRatio').loc[1558, 'BuildingArea']

126.0

In [23]:
mask1 = melb_df['Rooms'] > 2
mask2 = melb_df['Type'] == 'townhouse'
melb_df[mask1 & mask2].sort_values(
    by=['Rooms', 'MeanRoomsSquare'],
    ascending=[True, False],
    ignore_index=True
).loc[18, 'Price']

1300000.0

In [36]:
melb_df.groupby('Regionname')['Lattitude'].std().sort_values(ascending=False)

Regionname
Eastern Victoria              0.147067
Northern Victoria             0.084455
South-Eastern Metropolitan    0.073411
Western Metropolitan          0.051251
Northern Metropolitan         0.049639
Eastern Metropolitan          0.047890
Southern Metropolitan         0.043080
Western Victoria              0.011579
Name: Lattitude, dtype: float64

In [ ]:
melb_df.groupby('Regionname')['SellerG'].agg(
    		['nunique', set]
)

In [40]:
melb_df.pivot_table(
    values='Landsize',
    index='Regionname',
    columns='Type',
    aggfunc=['median', 'mean'],
    fill_value=0
)

                           median                        mean
Type                        house townhouse unit        house   townhouse
Regionname
Eastern Metropolitan        674.0     233.5  203   717.422847  269.440678  \
Eastern Victoria            843.0       0.0  230  3108.960000    0.000000
Northern Metropolitan       459.5     134.0    0   619.249092  317.325733
Northern Victoria           724.0       0.0    0  3355.463415    0.000000
South-Eastern Metropolitan  630.5     240.0  199   664.306701  212.160000
Southern Metropolitan       586.0     246.0    0   569.643881  278.858824
Western Metropolitan        531.0     198.0   62   507.883406  244.560669
Western Victoria            599.5       0.0    0   655.500000    0.000000


Type                              unit
Regionname
Eastern Metropolitan        330.444444
Eastern Victoria            295.333333
Northern Metropolitan       495.026538
Northern Victoria             0.000000
South-Eastern Metropolitan  357.864865
Southern Metropolitan       466.380245
Western Metropolitan        557.637232
Western Victoria              0.000000