In [24]:
import pandas as pd

solar_data = pd.read_csv('data/solarpower.csv')
solar_data

           date  cum_power
0    2017-01-01    20111.0
1    2017-01-02    20112.0
2    2017-01-03    20115.0
3    2017-01-04    20117.0
4    2017-01-05    20119.0
..          ...        ...
659  2018-10-22    28101.0
660  2018-10-23    28109.0
661  2018-10-24    28115.0
662  2018-10-25    28117.0
663  2018-10-26    28120.0

[664 rows x 2 columns]

In [25]:
solar_data[solar_data['cum_power'] == -1]

           date  cum_power
45   2017-02-15       -1.0
647  2018-10-10       -1.0

In [27]:
solar_data_copy = solar_data.copy()

In [42]:
for i in solar_data_copy.index:
    if solar_data_copy.loc[i, 'cum_power'] == -1:
        solar_data_copy.loc[i, 'cum_power'] = ((solar_data_copy.loc[i-1, 'cum_power'] + solar_data_copy.loc[i+1, 'cum_power']) / 2)

In [52]:
solar_data_copy['date'] = pd.to_datetime(solar_data_copy['date'])
solar_data_copy

          date  cum_power  day_power
0   2017-01-01    20111.0          0
1   2017-01-02    20112.0          0
2   2017-01-03    20115.0          0
3   2017-01-04    20117.0          0
4   2017-01-05    20119.0          0
..         ...        ...        ...
659 2018-10-22    28101.0          0
660 2018-10-23    28109.0          0
661 2018-10-24    28115.0          0
662 2018-10-25    28117.0          0
663 2018-10-26    28120.0          0

[664 rows x 3 columns]

In [54]:
solar_data_copy['day_power'] = solar_data_copy['cum_power'].diff()
solar_data_copy

          date  cum_power  day_power
0   2017-01-01    20111.0        NaN
1   2017-01-02    20112.0        1.0
2   2017-01-03    20115.0        3.0
3   2017-01-04    20117.0        2.0
4   2017-01-05    20119.0        2.0
..         ...        ...        ...
659 2018-10-22    28101.0        6.0
660 2018-10-23    28109.0        8.0
661 2018-10-24    28115.0        6.0
662 2018-10-25    28117.0        2.0
663 2018-10-26    28120.0        3.0

[664 rows x 3 columns]

In [56]:
solar_data_copy['months'] = solar_data_copy['date'].dt.to_period('M')
solar_data_copy

          date  cum_power  day_power   months
0   2017-01-01    20111.0        NaN  2017-01
1   2017-01-02    20112.0        1.0  2017-01
2   2017-01-03    20115.0        3.0  2017-01
3   2017-01-04    20117.0        2.0  2017-01
4   2017-01-05    20119.0        2.0  2017-01
..         ...        ...        ...      ...
659 2018-10-22    28101.0        6.0  2018-10
660 2018-10-23    28109.0        8.0  2018-10
661 2018-10-24    28115.0        6.0  2018-10
662 2018-10-25    28117.0        2.0  2018-10
663 2018-10-26    28120.0        3.0  2018-10

[664 rows x 4 columns]

In [ ]:
solar_data_copy['months'] = solar_data_copy['months'].astype('object')
plot = solar_data_copy.groupby('months')['day_power'].mean()
plot.info()

In [72]:
solar_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    datetime64[ns]
 1   cum_power  664 non-null    float64
 2   day_power  663 non-null    float64
 3   months     664 non-null    object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 20.9+ KB

In [76]:
solar_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       664 non-null    datetime64[ns]
 1   cum_power  664 non-null    float64
 2   day_power  663 non-null    float64
 3   months     664 non-null    object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 20.9+ KB

In [75]:
fig = px.line(
    data_frame=solar_data_copy,
    x='months',
    y='day_power'
)
fig.show()

TypeError: Object of type Period is not JSON serializable