In [1]:
import pandas as pd

ratings_movies = pd.read_csv('data/ratings_movies.csv')

In [2]:
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [24]:
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
ratings_movies

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0
...,...,...,...,...,...,...,...,...
100831,100831,610,166534,4.0,2017-05-03 21:53:22,Split (2017),Drama|Horror|Thriller,2017.0
100832,100832,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two (2017),Action|Crime|Thriller,2017.0
100833,100833,610,168250,5.0,2017-05-08 19:50:47,Get Out (2017),Horror,2017.0
100834,100834,610,168252,5.0,2017-05-03 21:19:12,Logan (2017),Action|Sci-Fi,2017.0
100835,100835,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,2017.0

In [ ]:
mask1 = ratings_movies['year_release'] == 2018
newta = ratings_movies[mask1].groupby(by='genres')['rating'].agg(['mean', 'count'])
newta[newta['count'] > 10].sort_values(by='mean', ascending=False)

In [ ]:
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'])
ratings_movies['year_rating'] = ratings_movies['date'].dt.year

In [87]:
pivot = ratings_movies.pivot_table(
    values='rating',
    index='year_rating',
    columns='genres'
)
pivot.loc[2018].sort_values(ascending=False).head(20)

genres
Animation|Comedy|Drama                       5.0
Crime|Mystery                                5.0
Comedy|Crime|Fantasy                         5.0
Crime|Fantasy|Horror                         5.0
Comedy|Crime|Horror|Thriller                 5.0
Animation|Crime|Drama                        5.0
Drama|Romance|War                            5.0
Action|Comedy|Documentary                    5.0
Animation|Comedy|Fantasy|Musical             5.0
Animation|Comedy|Drama|Fantasy|Sci-Fi        5.0
Comedy|Drama|Fantasy|Mystery|Romance         5.0
Animation|Children|Mystery                   5.0
Drama|Horror|Mystery|Sci-Fi|Thriller         5.0
Adventure|Children|Comedy|Fantasy|Mystery    5.0
Comedy|Fantasy|Horror|Musical|Thriller       5.0
Romance|Sci-Fi                               5.0
Mystery|Romance|Sci-Fi|Thriller              5.0
Adventure|Fantasy|Musical                    5.0
Action|Crime|Thriller|Western                5.0
Action|Crime|Sci-Fi|Thriller                 5.0
Name: 2018, dtype: float64