In [2]:
import requests

In [3]:
url = 'https://www.cbr-xml-daily.ru/daily_json.js' # Определяем значение URL страницы для запроса
response = requests.get(url)

In [4]:
print(response)

<Response [200]>

In [ ]:
from pprint import pprint # Импортируем функцию pprint()
currencies = response.json() # Применяем метод json()
pprint(currencies) # Выводим результат на экран)

In [ ]:
print(currencies['Valute']['CZK']['Name'])

In [ ]:
import requests # Импортируем библиотеку requests
url = 'https://nplus1.ru/news/2021/10/11/econobel2021' # Определяем адрес страницы
response = requests.get(url)  # Выполняем GET-запрос
print(response.text)

In [15]:
from bs4 import BeautifulSoup
page = BeautifulSoup(response.text, 'html.parser') # Создаём объект BeautifulSoup, указывая html-парсер
print(page.title.text)

Премию Нобеля по экономике присудили за исследования экономики труда и причинно-следственных связей

In [34]:
url = 'https://en.wikipedia.org/wiki/Operating_system' # Определяем адрес страницы
response = requests.get(url) # Выполняем GET-запрос, содержимое ответа присваивается переменной response
page = BeautifulSoup(response.text, 'html.parser') # Создаём объект BeautifulSoup, указывая html-парсер
print(page.find('h1'))

<h1 class="firstHeading mw-first-heading" id="firstHeading"><span class="mw-page-title-main">Operating system</span></h1>

In [36]:
url = 'https://nplus1.ru/news/2021/10/11/econobel2021' # Определяем адрес страницы
response = requests.get(url) # Выполняем GET-запрос, содержимое ответа присваивается переменной response
page = BeautifulSoup(response.text, 'html.parser') # Создаём объект BeautifulSoup, указывая html-парсер
print(page.find('a', class_= "relative").text)

11.10.21

In [37]:
url = 'https://en.wikipedia.org/wiki/List_of_programming_languages' # Задаём адрес ресурса
response = requests.get(url) # Делаем GET-запрос к ресурсу
page = BeautifulSoup(response.text, 'html.parser')
links = page.find_all('a') # Ищем все ссылки на странице и сохраняем в переменной links в виде списка
print(len(links))

954

In [43]:
import requests # Импортируем модуль requests
token = 'f0557b08f0557b08f0557b0846f341cb7bff055f0557b0894c0aa4a4d315130bc580019' # Указываем свой сервисный токен
url = 'https://api.vk.com/method/users.get' # Указываем адрес страницы к которой делаем запрос
params = {'user_id': 1, 'v': 5.95, 'fields': 'sex,bdate,contacts', 'access_token': token, 'lang': 'ru'} # Перечисляем параметры нашего запроса в словаре params
response = requests.get(url, params=params) # Отправляем запрос
print(response.text)

{"response":[{"id":1,"bdate":"10.10.1984","sex":2,"first_name":"Павел","last_name":"Дуров","can_access_closed":true,"is_closed":false}]}

In [44]:
from pprint import pprint # Импортируем функцию pprint()
pprint(response.json())

{'response': [{'bdate': '10.10.1984',
               'can_access_closed': True,
               'first_name': 'Павел',
               'id': 1,
               'is_closed': False,
               'last_name': 'Дуров',
               'sex': 2}]}

In [56]:
import pandas as pd
ids = ",".join(map(str, range(1, 501))) # Формируем строку, содержащую информацию о поле id первых трёх пользователей
params = {'user_ids': ids, 'v': 5.95, 'fields': 'sex', 'access_token': token, 'lang': 'ru'} # Формируем строку параметров
request = requests.get(url, params=params).json()
df = pd.DataFrame(request['response'])
df

,id,sex,first_name,last_name,can_access_closed,is_closed,deactivated
0,1,2,Павел,Дуров,True,False,NaN
1,2,1,Александра,Владимирова,False,True,NaN
2,3,0,DELETED,,True,False,deleted
3,4,0,DELETED,,True,False,deleted
4,5,2,Илья,Перекопский,True,False,NaN
...,...,...,...,...,...,...,...
495,496,2,Григорий,Малыгин,True,False,NaN
496,497,1,Светлана,Лапина,False,True,NaN
497,498,1,DELETED,,False,True,deleted
498,499,0,DELETED,,True,False,deleted
499,500,2,Анонимный пользователь,,True,False,NaN

In [60]:
male_sex = df[df['sex'] == 2].shape[0]
female_sex = df[df['sex'] == 1].shape[0]
male_perc = round(female_sex / (male_sex+female_sex), 2)
male_perc

0.48