In [8]:
import psycopg2
import pandas as pd

In [24]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [25]:
connection = psycopg2.connect(
   dbname=DBNAME,
   user=USER,
   host=HOST,
   password=PASSWORD,
   port=PORT
)

In [26]:
n = 10
query = f'''select *
           from project_sql.vacancies
           limit {n}
        '''
        
df = pd.read_sql_query(query, connection)
df

C:\Users\SergeiMosolov\AppData\Local\Temp\ipykernel_11164\2187455350.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

DatabaseError: Execution failed on sql 'select *
           from project_sql.vacancies
           limit 10
        ': relation "project_sql.vacancies" does not exist
LINE 2:            from project_sql.vacancies
                        ^